CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
CMakeUserPresets.json

.vscode

modules/imgui/*


build/editor.exe
build/imgui.ini
build/glew32.dll
build/SDL2.dll
build/shaders
build/shaders/*

build/editor-output/*
build/editor-input/*
build/editor-input*